@import "../variables.scss";

.login {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: -$nav-height;
    padding-top: $nav-height;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.login-form {
    width: 70%;
    margin: 0 auto;
    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 3em;
        margin-bottom: 1em;
        line-height: 3em;
        font-size: 1em;
        text-indent: 1em;
        border: 1px solid $col-primary;
    }
    .btn-login {
        text-indent: 0;
        background-color: $col-accent-1;
        color: #fff;
    }
    .err-msg {
        font-size: 14px;
        color: $col-important;
        height: 2em;
        line-height: 1;
    }
}